.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; // https://axce.tistory.com/36
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)),
        url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;

    form {
        background-color: white;
        padding: 0px 60px;
        border-radius: 10px;
    }

    h1 {
        color: rgb(74, 5, 74);
        text-align: center;
        padding: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: column;

        button {
            // For spinner
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 50px;
            padding: 15px;
            border: none;
            background-color: purple;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            margin: 15px 0px;

            // &:disabled {
            //     background-color: rgba(128, 0, 128, 0.55);
            // }
        }

        // https://codepen.io/scottzirkel/pen/yNxNME
        .hrText {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: 0.5;
            &:before {
                content: "";
                background: #818078;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }
            &:after {
                content: attr(dataContent);
                position: relative;
                display: inline-block;
                color: black;

                padding: 0 0.5em;
                line-height: 1.5em;
                // this is really the only tricky part, you need to specify the background color of the container element...
                color: #818078;
                background-color: #fcfcfa;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: purple;
        font-size: 11px;
        cursor: pointer;
    }

    .loginErr {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: red;
        padding: 20px;
    }
}
