.fileItem {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    background-color: #7c7cff98;
    border-radius: 5px;
    padding: 10px 15px;
    width: 450px;
    font-size: 13px;

    .icon {
        font-size: 18px;
    }

    .filename {
        display: flex;
        // justify-content: flex-start;
        align-self: flex-start;
        // margin-right: 10px;
        width: 100vh;

        .icon {
            margin-right: 8px;
        }
    }

    .delete {
        display: flex;
        // justify-content: flex-end;
        align-self: flex-end;
        cursor: pointer;
    }

    // .icon {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     &:first-child {
    //         font-size: 20px;
    //         margin-right: 8px;
    //     }
    // }

    // span {
    //     display: flex;
    //     // justify-content: center;
    //     align-items: center;
    //     flex: 1;
    //     font-size: 14px;
    // }

    // .actions {
    //     justify-self: flex-end;
    //     cursor: pointer;

    //     // .fa-spinner {
    //     //     font-size: 10px;
    //     // }
    // }
}

.fileItemRemoved {
    display: none;
}
