.single {
    display: flex;

    .singleContainer {
        flex: 6;

        .top-container {
            display: flex;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .top-left {
                flex: 2;

                .item {
                    display: flex;
                    flex-wrap: wrap; // https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-wrap
                    gap: 40px;

                    .avatar {
                        width: 100px;
                        height: 100px;
                        font-size: 50px;
                    }

                    // .itemImg {
                    //     width: 100px;
                    //     height: 100px;
                    //     border-radius: 50%;
                    //     object-fit: cover;
                    // }

                    .details {
                        .itemTitle {
                            margin-bottom: 10px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .top-right {
                flex: 1;

                .button-group {
                    display: flex;
                    flex-direction: column;

                    .button {
                        margin: 20px;
                        padding: 5px;
                        width: 70%;
                        text-align: center;
                        font-size: 15px;
                        color: #5e35b1;
                        background-color: #7551f818;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }

                .editButton {
                    padding: 5px;
                    font-size: 12px;
                    color: #7451f8;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .deleteButton {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                    font-size: 12px;
                    background-color: rgba(255, 0, 0, 0.05);
                    color: red;
                    cursor: pointer;
                }
            }
        }

        .bottom-container {
            display: flex;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .bottom-left {
                flex: 2;
            }

            .bottom-right {
                flex: 1;

                .button-group {
                    display: flex;
                    flex-direction: column;
                    padding: 60px 0;

                    .button {
                        margin: 20px;
                        padding: 5px;
                        width: 70%;
                        text-align: center;
                        font-size: 15px;
                        color: #5e35b1;
                        background-color: #7551f818;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }
        }

        .title {
            color: gray;
            margin-bottom: 20px;
        }
    }
}

.MuiTypography-root.MuiDialogTitle-root {
    font-family: "Nunito", sans-serif;
}

.MuiTypography-root.MuiDialogContentText-root {
    font-family: "Nunito", sans-serif;
}

.MuiFormLabel-root.MuiInputLabel-root {
    font-family: "Nunito", sans-serif;
}

.MuiButtonBase-root.MuiButton-root {
    font-family: "Nunito", sans-serif;
}

label.MuiFormLabel-root.Mui-focused {
    color: #5e35b1;
}

.MuiInputBase-root.MuiInput-root {
    &:after {
        border-bottom: 2px solid #5e35b1;
    }

    &:hover:not(.Mui-disabled, .Mui-error):before {
        border-bottom: 2px solid #5e35b1;
    }
}

.MuiButtonBase-root.MuiButton-root:hover {
    background-color: #5e35b10c;
}

.MuiButtonBase-root.MuiButton-root {
    color: #5e35b1;
}