.single {
    display: flex;
    width: 100%;
    .singleContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px; // Btwn left and right

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative; // For editButton

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 12px;
                    color: #7451f8;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .item {
                    display: flex;
                    flex-wrap: wrap; // https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flex-wrap
                    gap: 40px;

                    .itemImg {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 10px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }

                    .deleteButton {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 5px;
                        border-radius: 5px;
                        border: none;
                        font-size: 12px;
                        background-color: rgba(255, 0, 0, 0.05);
                        color: red;
                        cursor: pointer;
                    }
                }
            }
            .right {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 10px 20px; // top-bottom, right-left

            .fileManagerTitle {
                font-size: 16px;
                font-weight: bold;
                color: lightgray;
                margin-bottom: 20px;
            }
        }

        .title {
            font-size: 16px;
            color: lightgray;
            margin-bottom: 20px;
        }
    }
}

.MuiTypography-root.MuiDialogTitle-root {
    font-family: "Nunito", sans-serif;
}

.MuiTypography-root.MuiDialogContentText-root {
    font-family: "Nunito", sans-serif;
}

.MuiFormLabel-root.MuiInputLabel-root {
    font-family: "Nunito", sans-serif;
}

.MuiButtonBase-root.MuiButton-root {
    font-family: "Nunito", sans-serif;
}

label.MuiFormLabel-root.Mui-focused {
    color: #5e35b1;
}

.MuiInputBase-root.MuiInput-root {
    &:after {
        border-bottom: 2px solid #5e35b1;
    }

    &:hover:not(.Mui-disabled, .Mui-error):before {
        border-bottom: 2px solid #5e35b1;
    }
}

.MuiButtonBase-root.MuiButton-root:hover {
    background-color: #5e35b10c;
}

.MuiButtonBase-root.MuiButton-root {
    color: #5e35b1;
}
