.restore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; // https://axce.tistory.com/36
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)),
        url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;

    form {
        background-color: white;
        padding: 0px 60px;
        border-radius: 10px;
    }

    h1 {
        color: rgb(74, 5, 74);
        text-align: center;
        padding: 20px;
    }

    button {
        // For spinner
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: purple;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin: 15px 0px;
    }

    .restoreErr {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: red;
        padding: 20px;
    }
}
