.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between; // This does not work when width is not 100%
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none; // When input box is clicked
                background: transparent; // If not it will show a white background in Dark mode

                // A CSS pseudo-element is used to style specified parts of an element.
                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;
            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative; // Go to counter's position

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 500%;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    // Moving position to right top of the icon
                    // Parent should also be position relative
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }

                // Link component
                a {
                    display: flex;
                }
            }
        }
    }
}
