.fileManagerContainer {
    padding: 20px;

    .fileManagerTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
}
