.changePassword {
    display: flex;
  
    .pageContainer {
      flex: 6;
  
      .changePasswordContainer {
        padding: 20px;
  
        .changePasswordTitle {
          font-size: 24px;
          color: gray;
          margin-bottom: 10px;
        }
  
        .form-input-container {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
  
          .formInput {
            margin-right: 10px;
          }
        }
  
        .button-container {
          display: flex;
          align-items: center;
  
          .change-password-button {
            height: 40px;
            padding: 10px;
            border: none;
            background-color: #5e35b1;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
  